#scenario-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

#scenario-modal {
  z-index: 1001;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width: 540px;
}

#scenario-modal-header-title {
  margin: 0 0 20px;
}

#scenario-modal-body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}

.scenario-modal-icon {
  margin: 0.5em;
  display: inline;
}

.scenario-modal-button-large {
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  justify-content: start;
  background-color: rgb(255, 255, 255);
  color: darkgray;
  border:1px solid darkgray;
  height: 150px;
  border-radius: 10px;
  cursor: pointer;
}

.scenario-modal-button-label {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scenario-modal-button-description {
  text-align: center;
  margin: 5px 20px;
}

#scenario-modal-file-upload-body {
  display: flex;
  flex-direction: column;
}

#scenario-modal-file-upload-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed darkgray;
  border-radius: 10px;
  padding: 100px 0;
}

#scenario-modal-file-upload-area > h4 {
  color: darkgray;
}

#scenario-modal-file-upload-footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.scenario-modal-button {
  height: 2rem;
  width: 100px;
  border: none;
  border-radius: 10px;
  background-color: rgb(63, 216, 114);
  color: white;
  cursor: pointer;
}

.scenario-modal-button:hover {
  background-color: rgb(53, 206, 104);
}
.scenario-modal-button:active {
  background-color: rgb(43, 196, 94);
}