/*--------------------------------------------------*/
/*                 Scenario Modals                  */
/*--------------------------------------------------*/

#scenario-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #scenario-modal {
    z-index: 1001;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 540px;
  }
  
  #scenario-modal-header-title {
    margin: 0 0 20px;
  }
  
  #scenario-modal-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
  }
  
  .scenario-modal-icon {
    margin: 0.5em;
    display: inline;
  }
  
  .scenario-modal-button-large {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    justify-content: start;
    background-color: rgb(255, 255, 255);
    color: darkgray;
    border: 1px solid darkgray;
    height: 150px;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .scenario-modal-button-label {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .scenario-modal-button-description {
    text-align: center;
    margin: 5px 20px;
  }
  
  #scenario-modal-file-upload-body {
    display: flex;
    flex-direction: column;
  }
  
  #scenario-modal-file-upload-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed darkgray;
    border-radius: 10px;
    padding: 100px 0;
  }
  
  #scenario-modal-file-upload-area > h4 {
    color: darkgray;
  }
  
  #scenario-modal-footer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }
  
  .scenario-modal-button {
    height: 2rem;
    min-width: 100px;
    padding: 0px 1rem;
    border: none;
    border-radius: 10px;
    background-color: rgb(63, 216, 114);
    color: white;
    cursor: pointer;
  }
  
  #scenario-modal-form {
    margin: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
  }
  
  #scenario-modal-form > input {
    margin: 10px 0;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .scenario-modal-button:hover {
    background-color: rgb(53, 206, 104);
  }
  
  .scenario-modal-button:active {
    background-color: rgb(43, 196, 94);
  }
  
  .scenario-list-item-dropdown-menu {
    position: absolute;
    left: calc(100% - 150px);
    top: 80%;
    background-color: white;
    border: 1px solid #ccc;
    z-index: 1000;
    display: flex;
    flex-direction: column;
  }
  
  .dropdown-menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
  }
  
  .dropdown-menu-button:hover {
    background-color: #f0f0f0;
  }
  
  .scenario-list-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .scenario-list-show-dropdown-button {
    background-color: transparent;
    opacity: 0.7;
    border: none;
    cursor: pointer;
  }
  
  .scenario-list-show-dropdown-button:hover {
    opacity: 0.8;
  }
  
  .scenario-list-show-dropdown-button:active {
    opacity: 0.9;
  }

  .scenario-list-show-dropdown-button:disabled {
    opacity: 0.5;
  }
  
  #scenario-utils {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
  }
  
  #scenario-search {
    height: 36px;
    padding: 0px 0.5rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }
  
  #scenario-search-input {
    width: 200px;
    border: none;
  }
  
  #scenario-search-icon {
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }
  
  #scenario-search-input:focus {
    outline: none;
  }
  
  #scenario-create-button {
    display: flex;
    align-items: center;
    background-color: rgb(63, 216, 114);
    color: white;   
    border: none;
    height: 36px;
    padding: 0px 1rem;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #scenario-create-icon {
    height: 20px;
    width: 20px;
    margin-right: 5px;
  }
  
  #scenario-create-button:hover {
    background-color: rgb(53, 206, 104);
  }
  
  #scenario-create-button:active {
    background-color: rgb(43, 196, 94);
  }
  
  #scenario-select-modal-body {
    display: flex;
    min-height: 200px;
    border-radius: 10px;
    border: 1px solid darkgray;
    flex-direction: column;
    justify-content: flex-start;
  }

  .scenario-modal-list-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
  }