#results-header {
    border-bottom: 1px solid darkgray;
    padding: 10px 20px;
}

#scenario-selection {
    display: flex;
    max-width: 800px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin: auto;
}

#selected-scenario-title {
    flex-grow: 1;
    border: 1px solid darkgray;
    padding: 5px 10px;
    border-radius: 10px;
}

.green-button {
    height: 2rem;
    min-width: 100px;
    padding: 0px 1rem;
    margin: 0 20px;
    border: none;
    border-radius: 10px;
    background-color: rgb(63, 216, 114);
    color: white;
    cursor: pointer;
  }
  
.green-button:hover {
background-color: rgb(53, 206, 104);
}
.green-button:active {
background-color: rgb(43, 196, 94);
}

#results-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#no-results-container {
    padding: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#no-results-container > h3 {
    margin: 5px 0;
}

#no-results-container > button {
    margin: 5px 0;
}